body {
	z-index: -20;
	min-height: 200vh;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:link, a:visited {
	text-decoration: none;
}


.footer {
	background: #34495e;
}

.footer-list {
	list-style-type: none;
}

.footer-item {
	
}

/* NOTE(Jovan): Login dialogue

#login > input[type=text],
#login > input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


#login
{
    top: 0;
    display:none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .9s;
}

#login.modal_active
{
    display: block;
}

#loginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 5vh;
    width: 30%;
    height: 90vh;

    border-radius: 20px;

    background: none;
    background-color: #fff;
}

.loginField 
{
    width: 80%;
}

.loginField input
{
    width: 100%;
}

.loginButtons
{
    display: flex;
    flex-direction: column;
    width: 80%;
}
/* NOTE(Jovan): Combobox */

select:invalid
{
    color: gray;
    font-weight: 500;
}

option[value=""][disabled] 
{
    display: none;
}
option 
{
  color: black;
}
