body
{
    z-index: -20;
    min-height: 200vh;
}

a:link, a:visited
{
    text-decoration: none;
}

.navbar
{
    transition: 100ms;
    padding: 0px 25px 0px 25px;
}

.navbar-sticky
{
    transition: 100ms;
    padding: 0px 25px 0px 25px;
}

#nav
{
    transition: 150ms;
    height: 10vh;
    width: 100%;
    /*background-color: #fff;*/
    position: fixed;
    top: 0;
    z-index:999;
}

#nav.sticky
{
    transition: 150ms;
    background-color: #fff;
    box-shadow: 0px 1px 10px #999;
}

/* NOTE(Jovan):
 * Koristi se za sticky navbar
 */

.navbar-list, .header-list, .footer-list
{
    list-style-type: none;
}

.navbar-item
{
    display: inline;
    padding: 0rem;
}

#nav > .nav-container > .navbar-list > .navbar-item a
{
    font-size: 1.8rem;
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}

#nav > .nav-container > .navbar-list > .logo a
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#nav.sticky > .nav-container > .navbar-list > .navbar-item a
{
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
    font-weight: 400;
    color: #000;
}

#nav.sticky > .nav-container > .navbar-list > .logo a
{
    color: #ff5722;
    text-transform: uppercase;
    font-weight: 600;
}

.header
{
    /* TODO(Jovan): Postaviti adekvatnu pozadinu*/
    background-color: #fff;
    background-image: url("../img/novisad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 15vh;
}

.header-content
{
    padding-top: 10vh;
}

.slogan
{
    position: relative;
}

.slogan h2,
.slogan p,
.slogan button
{
    position: relative;
    text-align: left;
    color: #fff;
    font-weight: 500;
    z-index: 1;
}

.slogan-blur
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8rem);
    -webkit-filter: blur(8rem);
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
}

.header h1, h2
{
    text-align: center;
}

.header-item
{
    display: inline;
}

.host-btn
{
    background-color: #fff;
}

#searchbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
    background-color: #fff;
    border-radius: 25px;
    transition: 200ms;
}

#searchbar.search-collapse
{
    position: fixed;
    top: 0;
    transition: 400ms;
    transition-timing-function: ease-in-out;
    width: 20vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.search-field
{
    padding: 10px 0px 10px 0px;
}

.search-btn
{
    border-radius: 50%;
}

#searchbar button
{
    margin: 0px;
    border-radius: 50%;
    padding: 0px;
    width: 4rem;
    height: 4rem;
}

#searchbar input
{
    border: none;
    padding: 0px;
    margin: 0px;
}

#searchbar input:focus
{
    border: none;
}

.footer
{
    background: #34495e;
}

.footer-list
{
    list-style-type: none;
}

.footer-item
{
}
