body {
	z-index: -20;
	min-height: 200vh;
}

a:link, a:visited {
	text-decoration: none;
}


.header {
	/* TODO(Jovan): Postaviti adekvatnu pozadinu*/
	background-color: #fff;
	background-image: url("../img/novisad.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding-top: 15vh;
}

.header-content {
	padding-top: 10vh;
}

.slogan {
	position: relative;
}

.slogan h2, .slogan p, .slogan button {
	position: relative;
	text-align: left;
	color: #fff;
	font-weight: 500;
	z-index: 1;
}

.slogan-blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(8rem);
	-webkit-filter: blur(8rem);
	background-color: rgba(0, 0, 0, .5);
	z-index: 0;
}

.header h1, h2 {
	text-align: center;
}

.header-item {
	display: inline;
}

.host-btn {
	background-color: #fff;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 500ms;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

#searchbar {
	order: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 70vw;
	margin: auto;
	background-color: #fff;
	border-radius: 25px;
}

#searchbar.search-collapse {
	order: 0;
	flex-grow: 2;
}

.search-btn {
	border-radius: 50%;
}

#searchbar button {
	margin: 0px;
	border-radius: 50%;
	padding: 0px;
	width: 4rem;
	height: 4rem;
}

#searchbar input {
	border: none;
	padding: 0px;
	margin: 0px;
    height: 2rem;
}

#searchbar input:focus {
	border: none;
}

.footer {
	background: #34495e;
}

.footer-list {
	list-style-type: none;
}

.footer-item {
	
}

/* NOTE(Jovan): Login dialogue

#login > input[type=text],
#login > input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


#login
{
    top: 0;
    display:none;
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .9s;
}

#login.modal_active
{
    display: block;
}

#loginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 5vh;
    width: 30%;
    height: 90vh;

    border-radius: 20px;

    background: none;
    background-color: #fff;
}

.loginField 
{
    width: 80%;
}

.loginField input
{
    width: 100%;
}

.loginButtons
{
    display: flex;
    flex-direction: column;
    width: 80%;
}
 */
/* NOTE(Jovan): Floating labels */

.floating-label
{
    position: relative;
    margin-bottom: 10px;
}

.floating-label label
{
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    display: inline-block;
    background: #fff;
    margin: 8px 5px;
    padding: 0 10px;
    transition: position .2s linear;
    opacity: 0.6;
}

.focused label
{
    transition: all .2s linear;
    opacity: 1;
	color: #ff5722;
    top: -20px;
}
